{% extends "log_generic.html" %}
{% block content %}

<form action="" method="post">{% csrf_token %}
    {% if form.email.errors %}    
    <div class="noti" id="noti">
        <div class="row">
                <div class="col-md-auto notificacion item">
                    <i class="far fa-bell notificacion" data-anijs="if: mouseover, on: body, do: wobble animated infinite"></i>
                </div>
                <div class="col-sm col-lg-8 item">
                    {{ form.email.errors }}
                </div>
                <div class="col-md-auto">
                    <i id="close" class="fas fa-times-circle" data-anijs="if: click, on: #close, do: bounceOut animated, to: .noti"></i>
                </div>
        </div>
    </div>
    {% endif %}
    <p>{{ form.email.label_tag }}</p>
    <p>{{ form.email }}</p>
    <input type="submit" value="Reset Password" class="btn-submit">
</form>

{% endblock %}