{% extends "log_generic.html" %}
{% block content %}
        <form action="" method="post">
        {% if validlink %}
            
        <!-- {% if form.new_password1.errors %}  -->

            <!-- {% endif %} -->

            
            {% if form.new_password1.errors %}
            <div class="noti">
                    <div class="row">
                            <div class="col-md-auto notificacion item">
                                <i class="far fa-bell notificacion" data-anijs="if: mouseover, on: body, do: wobble animated infinite"></i>
                            </div>
                            <div class="col-sm col-lg-8 item">
                                {{ form.new_password1.errors }}
                            </div>
                            <div class="col-md-auto">
                                <i id="close" class="fas fa-times-circle" data-anijs="if: click, on: #close, do: bounceOut animated, to: .noti"></i>
                            </div>
                    </div>
            </div>
            {% elif form.new_password2.errors %}
            <div class="noti" id="noti">
                    <div class="row">
                            <div class="col-md-auto notificacion item">
                                <i class="far fa-bell notificacion" data-anijs="if: mouseover, on: body, do: wobble animated infinite"></i>
                            </div>
                            <div class="col-sm col-lg-8 item">
                                {{ form.new_password2.errors }}
                            </div>
                            <div class="col-md-auto">
                                <i id="close" class="fas fa-times-circle" data-anijs="if: click, on: #close, do: bounceOut animated, to: .noti"></i>
                            </div>
                    </div>
            </div>
            {% endif %}
                

        <p>Por favor ingrese (y confirme) su nueva contraseña.</p>
            <div style = "display:none">
                <input type="hidden" value="{{ csrf_token }}" name="csrfmiddlewaretoken">                
            </div>
            <div class="row">
                    <div class="col"><label for="id_new_password1">Nueva contraseña: </label></div>
                    <div class="w-100"></div>
                    <div class="col">{{ form.new_password1 }}</div>
                    <div class="w-100"></div>
                    <div class="col"><label for="id_new_password2">Confirmar contraseña: </label></div>
                    <div class="w-100"></div>
                    <div class="col">{{ form.new_password2 }}</div>
                  </div>
            <input type="submit" value="Cambiar mi contraseña" class="btn-submit large">
        </form>        
    {% else %}
        <h3>¡Error de reinicio de contraseña!</h3>
        <p>El enlace para restablecer la contraseña no era válido, posiblemente porque ya se ha utilizado. Por favor, solicite un nuevo restablecimiento de contraseña.</p>                                
    {% endif %}        
{% endblock %}