<!DOCTYPE HTML>
<html>
	<head>
        {% block title %}
        <title>Gustavo Virtual</title>
        {% endblock title %}      
		<meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        {% load static %}
        <link rel="shortcut icon" href="{% static 'images/admin/admin-icon.png' %}">
        <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
        <link rel="stylesheet" href="{% static 'css/admin-css/admin-style.css' %}">
        <link rel="stylesheet" href="{% static 'css/admin-css/admin-side-bar.css' %}">
        <link rel="stylesheet" href="{% static 'css/admin-css/admin-forms.css' %}">
        <link rel="stylesheet" href="{% static 'css/paragraph.css' %}">
	    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.2/css/all.css" integrity="sha384-/rXc/GQVaYpyDdyxK+ecHPVYJSN9bmVFBvjA/9eOB+pb3F2w2N6fc5qB9Ew5yIns" crossorigin="anonymous">
        <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
        <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    </head>
	<body class="landing">

        <!-- Header -->
        
        {% block header %}
        <header id="header">
            <div class="user">
                <div class="userRound">
                    <div class="lineOne">
                        <div class="lineTwo">
                            <div class="userImage">
                                <div id="content-img">

                                </div>
                            </div>
                        </div>
                    </div>
                </div> 
                <div class="superpose">
                        <img src="{{user.profile.avatar.url}}" alt="User.jpg">
                </div>
                <div class="info-user">
                        <h1>{{ user.username }}</h1>
                        <h1>{{ user.first_name}} {{ user.last_name}}</h1>
                </div>
            </div>
            <div class="menu">  
                <ul class="lista-menu"> 
                    {% block links-menu %}
                        {% block home-menu %}
                        <a href="{% url 'admin_Home_Articles_List' %}"><li><i class="fas fa-home"></i> Home</li><div class="box-active"></div></a>
                        {% endblock home-menu %}
                        {% block carrera-menu %}
                        <a href="{% url 'admin_Carrer_Articles_List' %}"><li><i class="fas fa-graduation-cap"></i> Carrera</li></a>
                        {% endblock carrera-menu %}
                        {% block recursos-menu %}
                        <a href="{% url 'admin_Resources_Articles_List' %}"><li><i class="fas fa-paperclip"></i> Recursos</li></a>
                        {% endblock recursos-menu %}
                        {% block evaluacion-menu %}
                        <a href="{% url 'admin_Evaluation_Articles_List' %}"><li><i class="fas fa-edit"></i> Evaluación</li></a>
                        {% endblock evaluacion-menu %}
                        <!-- {% block formularios-menu %}
                        <a href="{% url 'admin_Home_Articles_List' %}"><li><i class="fas fa-address-card"></i> Formularios</li></a>
                        {% endblock formularios-menu %}
                        {% block bibliografia-menu %}
                        <a href="{% url 'admin_Home_Articles_List' %}"><li><i class="fas fa-book"></i></i> Bibliografía</li></a>
                        {% endblock bibliografia-menu %}
                        {% block contacto-menu %}
                        <a href="{% url 'admin_Home_Articles_List' %}"><li><i class="fas fa-comments"></i> Contacto</li></a>
                        {% endblock contacto-menu %} -->
                        {% block editUser-menu %}
                        <a href="{% url 'edit-user' %}"><li><i class="fas fa-user-edit"></i> Perfil</li></a>
                        {% endblock editUser-menu %}
                    {% if request.user.is_staff %}
                        {% block createUser-menu %}
                        <a href="{% url 'admin_User_List' %}"><li><i class="fas fa-user"></i> Usuarios</li></a>
                        {% endblock createUser-menu %}
                    {% endif %}
                        <a href="{% url 'logout' %}"><li><i class="fas fa-door-open"></i> Logout</li></a>
                    {% endblock links-menu %}
                </ul>             
            </div>
        </header>

<!--====================================== MENU MOBILE ============================================-->
<div class="menu_Mobile">
    <div class="user">
        <div class="userRound">
            <div class="lineOne">
                <div class="lineTwo">
                    <div class="userImage">
                        <div id="content-img">

                        </div>
                    </div>
                </div>
            </div>
        </div> 
        <div class="superpose">
                <img src="{{user.profile.avatar.url}}" alt="User.jpg">
        </div>
        <div class="info-user">
                <h1>{{user.username}}</h1>
                <h1>{{user.first_name}} {{user.last_name}}</h1>
        </div>
    </div>
    <div class="menu">  
        <ul class="lista-menu">
            {% block links-menu-side %}
                    {% block home-menu-side %}
                    <a href="{% url 'admin_Home_Articles_List' %}"><li><i class="fas fa-home"></i> Home</li><div class="box-active"></div></a>
                    {% endblock home-menu-side %}
                    {% block carrera-menu-side %}
                    <a href="{% url 'admin_Carrer_Articles_List' %}"><li><i class="fas fa-graduation-cap"></i> Carrera</li></a>
                    {% endblock carrera-menu-side %}
                    {% block recursos-menu-side %}
                    <a href="{% url 'admin_Resources_Articles_List' %}"><li><i class="fas fa-paperclip"></i> Recursos</li></a>
                    {% endblock recursos-menu-side %}
                    {% block evaluacion-menu-side %}
                    <a href="{% url 'admin_Evaluation_Articles_List' %}"><li><i class="fas fa-edit"></i> Evaluación</li></a>
                    {% endblock evaluacion-menu-side %}
                    <!-- {% block formularios-menu-side %}
                    <a href="#"><li><i class="fas fa-address-card"></i> Formularios</li></a>
                    {% endblock formularios-menu-side %}
                    {% block bibliografia-menu-side %}
                    <a href="#"><li><i class="fas fa-book"></i></i> Bibliografía</li></a>
                    {% endblock bibliografia-menu-side %}
                    {% block contacto-menu-side %}
                    <a href="#"><li><i class="fas fa-comments"></i> Contacto</li></a>
                    {% endblock contacto-menu-side %} -->
                    {% block editUser-menu-side %}
                    <a href="{% url 'edit-user' %}"><li><i class="fas fa-user-edit"></i> Perfil</li></a>
                    {% endblock editUser-menu-side %}
                {% if request.user.is_staff %}
                    {% block createUser-menu-side %}
                    <a href="{% url 'admin_User_List' %}"><li><i class="fas fa-user"></i> Usuarios</li></a>
                    {% endblock createUser-menu-side %}
                {% endif %}
                    <a href="{% url 'logout' %}"><li><i class="fas fa-door-open"></i> Logout</li></a>
            {% endblock links-menu-side %}
        </ul>             
    </div>
</div>
<!--====================================== MENU MOBILE END ============================================-->

        <div class="headBar">
            <div class="side-bar">
                <a href="#" onclick="animateMenu()" id="bars">
                    <i id="icon" class="fas fa-bars"></i>
                </a>
                <a href="#" id="logo">
                    Admin Master<span>.</span>
                </a>
            </div>
        </div>
            
        {% endblock header %}

<!--Prueba-->

	<div class="blockContent">
        
        {% block menu-content %}
        <!-- THE MENU OF CONTENT    -->
        {% endblock menu-content %}
            
        <div class="contentGod"> 
        {% block content %}
        <!-- THE CONTENT    -->
        {% endblock content %}
        </div>
	</div>


		<!-- Footer 
			<footer id="footer">
				<div class="inner">
					<ul class="icons">
						<li><a href="https://www.facebook.com/Plataforma-Virtual-LI-y-Maret-Gustavo-Arturo-M-R-258289758073536/" class="fab fa-facebook-f">

						</a></li>
						<li><a href="https://twitter.com/HorusOmega" class="fab fa-twitter">
							<span class="label"></span>
						</a></li>
						<li><a href="https://www.youtube.com/c/GustavoArturoMRHorusomega" class="fab fa-youtube">
							<span class="label"></span>
						</a></li>
						<li><a href="https://ticscbtis82.blogspot.com/" class="fab fa-blogger" target="_blank">

						</a></li>
						<li><a href="http://dgetivinculacion.com/moodgeti/" class="fab fa-medium-m" target="_blank" id="icon-online">
							
						</a></li>
					</ul>
					<ul class="copyright">
						<li>Copyright © 2018.</li>
						<li>Creada por Omar Aguirre Alvarez</li>
					</ul>
				</div>
			</footer>-->

        <!-- Scripts -->
            {% load static %}
			<script src="{% static 'js/jquery.min.js' %}"></script>
			<script src="{% static 'js/skel.min.js' %}"></script>
			<script src="{% static 'js/util.js' %}"></script>
            <script src="{% static 'js/main.js' %}"></script>
            {% block resources %}{% endblock resources %}

	</body>
</html>