{% extends 'base_generic.html' %}
       
    {% block title %}
    <title>Gustavo Virtual | Bibliografía</title>
    {% endblock title %}

    {% block header %}
    <header id="header">
            <h1><a href="index.html">Gustavo Virtual</a></h1>
            <a href="#nav">Menu</a>
    </header>
    {% endblock header %}
        
        
    {% block content %}
			<div id="texto">
				<h2 style="text-align: center;" id = "programacion">Bibliografías</h2>
				<h2 style="text-align: center;">Administra Sistemas Operativos</h2>
			<table id="biblioTable">
				<tr>
					<td>Textos y web</td>
					<td>
						<ul>
							<li>Pérez, M. (2009). Windows Server 2008, instalación, configuración y administración. España: Grupo Ramírez Cogollor, S.L. pp. 31-89</li>
							<li>Pérez, M. (2009). Windows 7 en profundidad. España: Grupo Ramírez Cogollor, S.L. pp. 21-170.</li>
							<li>Gómez J. y Gómez O. (2011). Administración de sistemas operativos (1ª. ed.). Madrid, España: Ra-Ma. Pp. 45-55.</li>
							<li>B. Joel. (2011). Implementación de Servidores Con GNU/Linux. México, D. F: pp. 39-74.</li>
							<li>Alcancelibre. (2011). Implementación de Servidores Con GNU/Linux. Recuperado el 30 de junio de 2011 de  http://www.alcancelibre.org/filemgmt/index.php?id=1</li>
							<li>Gómez J. y Gómez O. (2011). Administración de sistemas operativos (1ª. ed.). Madrid, España: Ra-Ma. Pp.165-200.
							Ordoñez, Q. (2010). Sistema operativo GNU con Linux. Saslibre.</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>Competencia</td>
					<td>
						<ul id = "competencia">
							5 - Desarrolla innovaciones y propone soluciones a problemas a partir de métodos establecidos.
							Atributos:
							<li>Sigue instrucciones y procedimientos de manera reflexiva, comprendiendo como cada uno de sus pasos contribuye al alcance de un objetivo.</li>
							<li>Ordena información de acuerdo a categorías, jerarquías y relaciones.</li>
							<li>Sintetiza evidencias obtenidas mediante la experimentación para producir conclusiones y formular nuevas preguntas.</li>
							<li id = "ofimatica">Utiliza las tecnologías de la información y comunicación para procesar e interpretar información.</li>
						</ul>
					</td>
				</tr>
			</table>
	
			<h2 style="text-align: center;">Gestiona base de datos ofimáticas</h2>
			<table id="biblioTable">
				<tr>
					<td>Textos y web</td>
					<td>
						<ul>
							<li>Norton, P. (2008). Introducción a la computación para bachillerato. (1° ed.). México: McGraw-Hill Interamericana.</li>
							<li>Zlatev, B. y Zlateva, S. (2011). Análisis y diseño de sistemas. (1° ed.). México: Alec.
									Gaskin, S., Ferret. R. Vargas. A., Mclellan. C. (2012). GO! Microsoft Access 2010. (1° ed.). México: Pearson.</li>
							<li>Collins, J. (2005). Análisis y diseño de sistemas de información. (1° ed.). México: Alec.</li>
							<li>NTC ISO 9000:2000 Sistemas de gestión de la calidad.</li>
							<li>Ley federal de protección de datos personales en posesión de los  particulares</li>
							<li>Ley Federal de Transparencia y Acceso a la Información Pública.</li>
							<li>Aula clic., Curso de Access. (2010). Recuperado el 18 de junio del 2012 de http://www.aulaclic.es/access-2010/index.htm</li>
							<li>Microsoft Access http://office.microsoft.com/es-mx/access-help/# Ayuda</li>
							<li>www.youtube.com/gustavoarturomr</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>Competencia</td>
					<td>
						<ul>
							<li>5.2 Ordena información de acuerdo a categorías, jerarquías y relaciones.</li>
							<li>8.1 Propone maneras de solucionar un problema o desarrollar un proyecto en equipo, definiendo un curso de acción con pasos específicos.</li>
							<li>8.2 Aporta puntos de vista con apertura y considera los de otras personas de manera reflexiva.</li>
							<li id = "tic">8.3 Asume una actitud constructiva, congruente con los conocimientos y habilidades con los que cuenta dentro de distintos equipos de trabajo.</li>
						</ul>
					</td>
				</tr>
			</table>
			
			<h2 style="text-align: center;">Tecnologías de la Información y la Comunicación</h2>
			<table id="biblioTable">
				<tr>
					<td>Textos y web</td>
					<td>
						<ul>
							<li>http://www.aulaclic.es/</li>
							<li>Tecnologías de la Información y la Comunicación, Treviño del Campo Lizzte</li>
							<li>Méndez Méndez, Manuel Adán, et al. (2012). Tecnologías de la Información y la Comunicación, México, Editorial Book Mart.</li>
							<li>Ferreyra Cortés, Gonzalo. (2011). Informática para cursos de bachillerato c/cd, México, Editorial Alfaomega.</li>
							<li>Ferreyra Cortés, Gonzalo. (2007). Informática paso a paso. 2ª edición, México, D.F. Editorial Alfaomega.</li>
							<li>Treviño del Campo, Lizette.  (2013). Tecnologías de la Información y la Comunicacion., ed. Grafa.</li>
							<li>Peña, Rosario. (2018). Uso de las TIC en la vida diaria. Ed. Alfaomega.</li>
						</ul>
					</td>
				</tr>
				<tr>
					<td>Competencia</td>
					<td>
						<ul id = "competencia">
							5 - Desarrolla innovaciones y propone soluciones a problemas a partir de métodos establecidos.
							Atributos:
							<li>Sigue instrucciones y procedimientos de manera reflexiva, comprendiendo como cada uno de sus pasos contribuye al alcance de un objetivo.</li>
							<li>Ordena información de acuerdo a categorías, jerarquías y relaciones.</li>
							<li>Utiliza las tecnologías de la información y comunicación para procesar e interpretar información.</li>
						</ul>
					</td>
				</tr>
			</table>
			
		</div>
	</div>
	
    {% endblock content %}
