@import url('https://fonts.googleapis.com/css?family=Dancing+Script|Fjalla+One|Notable|Righteous|Russo+One&display=swap');

/*
font-family: 'Russo One', sans-serif;
font-family: 'Notable', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Dancing Script', cursive;
font-family: 'Righteous', cursive;
*/