{% extends 'admin_generic.html' %}

    
    {% block title %}
    <title>Gustavo Virtual | Confirmar Borrado</title>
    {% endblock title %}
        
    {% block content %}
        <form action="" method="post">
            {% csrf_token %}
            <p>Delete "{{  object.title  }}"?</p>
            <input type="submit" value="Confirm">
        </form>
    {% endblock content %}

    {% block resources %}
        {% load static %}
        <script type="text/javascript" src="{% static 'js/admin-js/basic.js' %}"></script>
    {% endblock resources %}
